<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>BMI Calculator</title>
  </head>
  <style> 
    *{
        margin: 0;
    }
    .marginauto {
        margin: 10px auto 20px;
        display: block;
    }
    h1 {
        width: fit-content;
        font-family: 'Courier New', Courier, monospace;
        margin-left: auto;
        margin-right: auto;
        font-size: 50px;
    }
  </style>
      
  <body>

    {% if bmi <= 18.5 %}
    <p><h1 style="border:2px solid rgb(9, 126, 221);">BMI result is underweight: {{ bmi }}</h1> </p> <!--id stands for variable result in python-->
    {% elif bmi <= 24.9 %}
    <p><h1 style="border:2px solid rgb(8, 22, 221);">BMI result is normal: {{ bmi }}</h1> </p>
    {% elif bmi <= 29.9 %}
    <p><h1 style="border:2px solid rgb(4, 73, 143);">BMI result is overweight: {{ bmi }}</h1> </p>
    {% elif bmi <= 39.9 %}
    <p><h1 style="border:2px solid rgb(248, 212, 8);">BMI result is obese: {{ bmi }}</h1> </p>
    {% elif bmi > 39.9 %}    
    <p><h1 style="border:2px solid rgb(212, 41, 10);">BMI result is extremly obese: {{ bmi }}</h1> </p>
    {% else %}
    <p><h1>BMI error, value is: {{ bmi }}</h1> </p>
    {% endif %}
    
    <!-- center bmi chart on page using css, see above -->
    <div>
      <img class="marginauto" src="{{ url_for('static', path='/bmi-chart.png') }}" alt="BMI Chart with categories" />
    </div>
  
  </body>
</html>
